/**
 * =================================================================================
 * VARIABLES
 * =================================================================================
 */

:root {
    /* ===== COLORS ===== */
    --background-color: #191919;
    --black-primary-color: #141415;
    --black-secondary-color: #1a1b1c;
    --blue-primary-color: #0aabfb;
    --gray-primary-color: #cecece;
    --gray-secondary-color: #b5b5b5;
    --white-color: #fff;

    /* ===== BORDER RADIUS ===== */
    --box-default-border-radius: 4px 12px 4px 12px;
    --content-box-border-radius: 0 12px 4px 12px;
    --content-box-title-border-radius: 0 0 4px 12px;
    --header-input-border-radius: 3px 9px 3px 9px;
    --highlights-chapter-box-border-radius: 0 10px 2px 0;
    --footer-socials-border-radius: 2px 6px 2px 6px;

    /* ===== FONTS ===== */
    --font-pt-sans-narrow: 'PT Sans Narrow', sans-serif;
    --font-rajdhani: 'Rajdhani', sans-serif;
    --font-roboto-condensed: 'Roboto Condensed', sans-serif;
}

/**
 * =================================================================================
 * MODIFIERS
 * =================================================================================
 */

.mb--40 {
    margin-bottom: 40px !important;
}

/**
 * =================================================================================
 * BASE
 * =================================================================================
 */

*,
*::before,
*::after {
    box-sizing: border-box !important;
    text-rendering: optimizeLegibility !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .004) !important;
}

html {
    height: 100%;
    min-height: 100%;
}

body {
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    font-family: var(--font-roboto-condensed);
    min-height: 100%;
}

/**
 * =================================================================================
 * CONTAINER
 * =================================================================================
 */

.container {
    padding: 0 6px 0 6px;
    margin: 0 auto;
    width: 100%;
}

/**
 * =================================================================================
 * HEADER
 * =================================================================================
 */

.header {
    background: var(--black-primary-color);
    border-bottom: 3px solid var(--blue-primary-color);
    display: flex;
    height: 83px;
    width: 100%;
}

.header__wrapper {
    display: flex;
}

.header__stick {
    align-items: center;
    display: flex;
    height: 100%;
}

.header__menu-button {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: center;
    margin: 0 12px 0 0;
    width: 40px;
}

.menu-button__icon {
    color: var(--blue-primary-color);
    font-size: 28px;
}

.header__logo {
    background: url(../img/logo.png);
    background-size: cover;
    height: 56px;
    text-indent: -9999px;
    width: 214px;
}

.header__navigation {
    display: none;
}

.navigation__search-box {
    align-items: center;
    display: flex;
}

.navigation__search-form {
    position: relative;
}

.navigation__search-input {
    background: var(--black-secondary-color);
    border: none;
    border-radius: var(--header-input-border-radius);
    color: var(--white-color);
    font-family: var(--font-roboto-condensed);
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    outline: none;
    padding: 0 40px 0 12px;
    width: 240px;
}

.navigation__search-input:focus {
    border: 2px solid var(--blue-primary-color);
    padding: 0 calc(40px - 2px) 0 calc(12px - 2px);
}

.navigation__search-input::placeholder {
    color: var(--gray-secondary-color);
}

.navigation__search-button {
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
}

.navigation__search-button .search-button__icon {
    color: var(--blue-primary-color);
    font-size: 21px;
}

.navigation__menu {
    align-items: center;
    display: none;
    margin: 0 30px 0 0;
}

.menu__list {
    display: flex;
    font-family: var(--font-rajdhani);
    font-size: 22px;
    font-weight: 500;
    gap: 20px;
}

.menu__list-link {
    color: var(--white-color);
    text-decoration: none;
}

.menu__list-link:hover {
    color: var(--blue-primary-color);
    text-decoration: underline;
}

/**
 * =================================================================================
 * MAIN
 * =================================================================================
 */

.main {
    margin: 0 auto 110px !important;
}

/**
 * =================================================================================
 * CONTENT BOXER
 * =================================================================================
 */

.content-box {
    background: var(--black-secondary-color);
    border-radius: var(--content-box-border-radius);
    border-top: 6px solid var(--blue-primary-color);
    padding: 56px 12px 20px 12px;
    position: relative;
}

.content-box__title-box {
    align-items: center;
    background: var(--blue-primary-color);
    border-radius: var(--content-box-title-border-radius);
    display: flex;
    justify-content: center;
    height: 44px;
    left: 0;
    padding: 0 18px 0 18px;
    position: absolute;
    top: -6px;
}

.content-box__title-text {
    color: var(--white-color);
    font-family: var(--font-pt-sans-narrow);
    font-size: 22px;
    font-weight: 700;
}

/**
 * =================================================================================
 * HIGHLIGHTS (SWIPER)
 * =================================================================================
 */

.swiper {
    width: 100%;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    width: 122px;
}

.swiper-slide__cover-outside {
    align-items: center;
    background: var(--black-primary-color);
    border-radius: var(--box-default-border-radius);
    display: flex;
    height: 193px;
    justify-content: center;
    width: inherit;
}

.swiper-slide__cover {
    background: var(--gray-primary-color-color);
    border-radius: var(--box-default-border-radius);
    height: 189px;
    position: relative;
    width: 118px;
}

.swiper-slide__img {
    border-radius: var(--box-default-border-radius);
    height: 189px;
    opacity: .92;
    width: 118px;
}

.swiper-slide__img:hover {
    opacity: 1;
}

.swiper-slide__chapter {
    align-items: center;
    background: var(--black-primary-color);
    border-radius: var(--highlights-chapter-box-border-radius);
    color: var(--white-color);
    display: flex;
    font-family: var(--font-pt-sans-narrow);
    font-size: 18px;
    font-weight: 700;
    height: 32px;
    justify-content: center;
    opacity: .8;
    padding: 0 14px 0 14px;
    position: absolute;
    text-decoration: none;
    top: 16px;
}

.swiper-slide__chapter:hover {
    opacity: .86;
}

.swiper-slide__title-box {
    align-items: center;
    background: var(--black-primary-color);
    border-radius: var(--box-default-border-radius);
    color: var(--white-color);
    display: flex;
    font-family: var(--font-pt-sans-narrow);
    font-size: 17px;
    font-weight: 700;
    justify-content: center;
    margin: 10px 0 0 0;
    padding: 14px 10px 14px 10px;
    text-align: center;
    text-decoration: none;
    width: inherit;
    word-break: break-word;
}

.swiper-slide__title-box:hover {
    color: var(--blue-primary-color);
}

/**
 * =================================================================================
 * FOOTER
 * =================================================================================
 */

.footer {
    background: var(--black-secondary-color);
    border-top: 4px solid var(--blue-primary-color);
    display: flex;
    height: 100%;
    margin-top: auto;
    width: 100%;
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
}

.footer__top {
    align-items: center;
    display: flex;
    height: 100%;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid var(--black-primary-color);
}

.footer__logo {
    background: url(../img/single-logo.png);
    background-size: cover;
    height: 58px;
    margin: 0 20px 0 0;
    text-indent: -9999px;
    width: 58px;
}

.footer__division-line {
    background: var(--black-primary-color);
    display: block;
    height: 58px;
    margin: 0 20px 0 0;
    width: 1px;
}

.footer__socials {
    flex: 1;
    width: 100%;
}

.socials__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.socials__list-link {
    align-items: center;
    background: var(--black-primary-color);
    border-radius: var(--footer-socials-border-radius);
    color: var(--blue-primary-color);
    display: flex;
    font-size: 18px;
    height: 34px;
    justify-content: center;
    text-decoration: none;
    width: 34px;
}

.socials__list-link:hover {
    color: var(--white-color);
}

.footer__copy {
    padding: 12px 0 12px 0;
}

.copy__text {
    color: var(--white-color);
    font-family: var(--font-roboto-condensed);
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    word-break: break-word;
}

.copy__link {
    color: var(--blue-primary-color);
    text-decoration: none;
}

.copy__link:hover {
    text-decoration: underline;
}

/**
 * =================================================================================
 * MEDIA QUERIES (MOBILE FIRST)
 * =================================================================================
 */

@media screen and (min-width: 566px) {
    .container {
        padding: 0 10px 0 10px;
    }

    .header__wrapper {
        justify-content: space-between;
        padding: 0 10px 0 10px;
    }

    .header__navigation {
        display: flex;
    }
}

@media screen and (min-width: 768px) {
    .swiper-slide {
        width: 146px;
    }

    .swiper-slide__cover-outside {
        height: 221px;
    }

    .swiper-slide__cover {
        height: 217px;
        width: 142px;
    }

    .swiper-slide__img {
        height: 217px;
        width: 142px;
    }

    .swiper-slide__chapter {
        height: 36px;
    }
}

@media screen and (min-width: 940px) {
    .container {
        max-width: 1200px;
        padding: 0 20px 0 20px;
    }

    .navigation__menu {
        display: flex;
    }
}

@media screen and (min-width: 1200px) {
    .content-box {
        padding: 56px 20px 20px 20px;
    }
}